@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h2 class="text-center mb-4">Вход</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Имейл</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="парола" />
                    <label asp-for="Input.Password">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">
                        Запомни ме
                    </label>
                </div>

                <button type="submit" class="w-100 btn btn-primary btn-lg">Вход</button>

                <div class="text-center mt-3">
                    <p>Нов потребител? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
