@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h2 class="text-center mb-4">Създаване на акаунт</h2>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <!-- First and Last Name -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Име" />
                    <label asp-for="Input.FirstName">Име</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Фамилия" />
                    <label asp-for="Input.LastName">Фамилия</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Имейл</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="парола" />
                    <label asp-for="Input.Password">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="повторете паролата" />
                    <label asp-for="Input.ConfirmPassword">Потвърдете паролата</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-primary btn-lg">Регистрация</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
